:root{
    --size-font: 19px;
    --size-height:90px;
}
.header {
    margin-top: 0;
    z-index: 3;
    font-size: var(--size-font);
    align-items: center;
    width: 100vw;
    height: var(--size-height);
    background: linear-gradient(#000, #1d1b1b);
    position: fixed;
    display: flex;
    border-bottom: 2px solid gray;
    /* color: azure; */
    /* color:burlywood; */
    color:rgb(221, 190, 11);
    justify-content: space-between;
    font-weight: 400;
}
#logo::before {
    cursor: pointer;
    width: 50px;
    height: 40px;
    background-color: red;
}
#logo {
    z-index: 5;
    margin-top: -5px;
    cursor: pointer;
    margin-left: 10vw;
    border: 2px solid gray;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 6.25px 1.25px 0px 7.5px gray, 11px 16.5px 7.5px 0px rgb(58, 57, 57), 0px 16.25px 7.5px 0px rgb(58, 57, 57) ;
    /* box-shadow: 25px 10px 10px 10px gray; */
    /* animation: moon 1s infinite alternate; */
}
#logo::after {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-weight: 300;
    font-size: 15px;
    margin-left: -10px;
    margin-top: -10px;
    padding-top: 10px;
    padding-right: 8px;
    content: 'JS';
    color: aliceblue;
}

#info {
    align-items: center;
    padding-right: 10vw;
    width: 530px;
    display: flex;
    justify-content: space-between;
}
#menu div{
    cursor: pointer;
    background-image: linear-gradient(rgb(221, 190, 11), transparent);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: center bottom;
    transition-delay: 0.2s;
    transition: all ease 0.4s;
}
#menu div:hover{
    background-size: 100% 2px;
    transform: scale(1.10);
    animation: Underline 1s;
}
@keyframes Underline {
    from{
        border-bottom: 0;
    }
    to{
        border-bottom: 30px;
    }
}
#menu{
    align-items: center;
    width: 430px;
    display: flex;
    justify-content: space-between;
}

#darkMode{
    transition: all ease 0.2s;
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
#darkMode:hover{
    transform: scale(1.2);
    /* transform: rotateZ(-30deg); */
}

@media (max-width:1000px) {
    :root{
        --size-font: 16px;
        --size-height:70px;
    }
    #logo{
        scale: 0.8;
    }
}
@media (max-width:680px) {
    #info{
        width: 90px;
    }
    #menu{
        
    }
    #menu div{
        display: none;
    }
    
}