:root {
    /* --color-text: rgb(255,140,0); */
    --color-text: rgb(160, 138, 12);
    /* --color-text:rgb(123,104,238); */
    --color-name: rgb(223, 215, 215);
    --color-pulseFirst: rgb(18, 166, 216);
    --color-pulseSecond: rgb(6, 6, 141);
    --size-fontName: 65px;
    --size-fontOtherText: 39px;
    --size-Notebook: 0.75;
    --size-underlineWidth: 410px


}

#home {
    font-family: "Inter", sans-serif;
}

#homeContainer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(31, 30, 30) 1%, transparent 95%);
    /* background: linear-gradient(to bottom, rgb(0, 80, 160) 5%, transparent 90%); */
    /* background: linear-gradient(to bottom, rgb(8, 51, 131) 5%, transparent 90%); */
    /* background: linear-gradient(to bottom, rgb(63, 5, 129) 5%, transparent 90%); */
    /* background: linear-gradient(to bottom, rgb(221, 190, 15) 5%, transparent 90%); */

}

#homeVerticalShadow {
    /* APAGAR ISSO */
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;

}

#homeText {

    margin: auto;
    margin-left: 5vw;
    font-weight: 400;
    font-size: var(--size-fontOtherText);
    font-family: 'Quando', serif;

}


#name {
    line-height: 90px;
    padding-left: 65px;
    font-size: var(--size-fontName);
    color: var(--color-name);
    border-right: 5px solid white;
    animation: blink infinite alternate ease-in-out 0.6s;
    padding-right: 5px;
}

@keyframes blink {

    0%,
    45% {
        border-right-color: transparent;
    }

    55%,
    100% {
        border-right-color: white;
    }

}

#homeText :nth-child(3) {
    background-repeat: no-repeat;
    background-size: var(--size-underlineWidth) 2px;
    background-position: left bottom;
    animation: UnderlineOffice 6.7s normal;
}
.underlineDark{
    background-image: linear-gradient(rgb(221, 190, 11), transparent);
}
.underlineLight{
    background-image: linear-gradient(rgb(0, 0, 0), transparent);


}
@keyframes UnderlineOffice {
    0%,70%{
        background-size: 0px 2px;
    }
    100%{
        background-size: var(--size-underlineWidth) 2px;
    }
}

.home--contactButton {
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    padding: 10px 55px 10px 25px;
    color: aliceblue;
    background-color: transparent;
    border: rgb(54, 18, 24) solid 2px;
    background-color: rgba(77, 72, 72, 0.3);
    font-size: 24px;
    font-weight: 500;
    animation: borderPulse infinite alternate ease-in 2s;
}

.home--contactButton img {
    margin-left: 5px;
    position: absolute;

}

#linkedinIcon {
    margin-top: -3px;
    width: 30px;
    height: 30px;
}

#githubIcon {
    margin-top: -7px;
    width: 40px;
    height: 40px;

}

.home--contactButton:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: rgba(77, 72, 72, 0.45);

}

@keyframes borderPulse {
    0% {
        border-color: var(--color-pulseFirst);
    }

    100% {
        border-color: var(--color-pulseSecond);

    }

}


#homeNotebook {
    position: relative;
    margin-top: 80px;
    font-size: 25px;
    /* width: 10vw; */
    /* transform: scale(0.85); */
    display: flex;

    transform: scale(var(--size-Notebook));
    /* opacity: 0.4; */
}



#notebookImg {
    max-width: 40vw;
    animation: move infinite alternate ease-in-out 1.75s;
}

@keyframes move {
    from {
        transform: rotateZ(1deg);
        margin-top: 25px;
        /* margin-top: 35px; */
    }

    to {
        transform: rotateZ(-1deg);
        margin-top: 10px;
    }
}
#scrollDown{
    font-family: 'Oxygen';
    position: absolute;
    margin-left: 50%;
    margin-top: 90vh;
    /* animation: itsVisible normal 6.3s; */
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    opacity: 0.7;
    display:none;
    animation: opacityPulse infinite alternate ease-in-out 0.5s;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
@keyframes opacityPulse{
    from{
        opacity: 70%;
    }
    to{
        opacity: 55%;
    }
}
#scrollDown div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    animation: moveArrow infinite alternate ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
}
#scrollDown div::after{
    margin-top: -10px;
    content: 'v';
}
@keyframes itsVisible {
    0%,99%{
        opacity: 0%;
    }
    100%{

    }
}
@keyframes moveArrow {
    from{
        padding-top: 0;
    }
    to{
        padding-top: 5px;
    }
}


@media (max-width:1300px) {
    :root {
        --size-Notebook: 0.80;
        --size-fontName: 50px;
        --size-fontOtherText: 35px;
        --size-underlineWidth: 380px;
        }
    #homeVerticalShadow {
        grid-template-columns: 3fr 2fr;
    }

    /* .Home--header--genre {
        display: none;
    } */
}

@media (max-width: 1000px) {
    :root {
        --size-Notebook: 0.70;
        --size-fontName: 45px;
        --size-fontOtherText: 30px;
        --size-underlineWidth: 318px;
    }

    #name {
        padding-left: 20px;
    }
}

@media (max-width: 900px) {
    :root {
        --size-fontName: 38px;
        --size-fontOtherText: 30px;
        --color-name:rgb(0, 0, 0);
        --size-underlineWidth: 0px;
    }

    #name {

        padding-left: 30px;
    }
    #homeVerticalShadow {
        /* display:unset; */
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #homeNotebook {
        display: none;
         
    }
    #homeText{
        margin: auto;
    }
    #scrollDown{
        margin-left: 0;
    }
}