:root {
    --color-screen: linear-gradient(rgb(180, 178, 178), rgb(190, 185, 185));
    --color-3dEffect: gray;
    --color-keyboard: linear-gradient(rgb(190, 185, 185), rgb(180, 178, 178));
    --color-keyboard-keys: linear-gradient(rgb(99, 95, 95), rgb(141, 134, 134));
    --color-moon: gray;
    /* --color-text: rgb(255,140,0); */
    --color-text: rgb(160, 138, 12);
    /* --color-text:rgb(123,104,238); */
    --color-name: rgb(223, 215, 215);
    --color-pulseFirst: rgb(18, 166, 216);
    --color-pulseSecond: rgb(6, 6, 141);
    --size-fontName: 65px;
    --size-fontOtherText: 39px;
    --size-Notebook: 0.75;
    --size-moonX: 30px;
    --size-moonY: 15px;
    --size-moon: var(var(--size-moonX)) var(var(--size-moonY)) 0 0 var(--color-moon);


}

#home {
    font-family: "Inter", sans-serif;
}

#homeContainer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(31, 30, 30) 1%, transparent 95%);

}

#homeVerticalShadow {
    display: grid;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgb(192, 197, 202) 5%, transparent 90%);
    grid-template-columns: 1fr 1fr;

}

#homeText {

    margin: auto;
    margin-left: 5vw;
    font-weight: 400;
    font-size: var(--size-fontOtherText);
    font-family: 'Quando', serif;

}

#homeText:nth-child(1) {
    /* color: var(--color-text); */


}

#name {
    line-height: 90px;
    padding-left: 65px;
    font-size: var(--size-fontName);
    color: var(--color-name);
    border-right: 5px solid white;
    animation: blink infinite alternate ease-in-out 0.6s;
}

@keyframes blink {

    0%,
    45% {
        padding-right: 5px;
        border-right: 5px solid transparent;
    }

    55%,
    100% {
        padding-right: 5px;
        border-right: 5px solid white;
    }

}

#homeText :nth-child(3) {
    /* color: var(--color-text); */
}

.home--contactButton {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    padding: 10px 55px 10px 25px;
    color: aliceblue;
    background-color: transparent;
    border: rgb(54, 18, 24) solid 2px;
    background-color: rgba(77, 72, 72, 0.3);
    font-size: 24px;
    font-weight: 500;
    animation: borderPulse infinite alternate ease-in 2s;
}

.home--contactButton img {
    margin-left: 5px;
    position: absolute;

}

#linkedinIcon {
    margin-top: -3px;
    width: 30px;
    height: 30px;
}

#githubIcon {
    margin-top: -7px;
    width: 40px;
    height: 40px;

}

.home--contactButton:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: rgba(77, 72, 72, 0.45);

}

@keyframes borderPulse {
    0% {
        border-color: var(--color-pulseFirst);
    }

    100% {
        border-color: var(--color-pulseSecond);

    }

}


#homeNotebook {
    position: relative;
    margin-top: 80px;
    font-size: 25px;
    /* width: 10vw; */
    /* transform: scale(0.85); */
    display: flex;

    transform: scale(var(--size-Notebook));
    /* opacity: 0.4; */
}


.screenAux,
.keyboard {
    transform-style: preserve-3d;
    position: absolute;
    margin: auto;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 300px;
    background-image: var(--color-screen);
    box-shadow: 12px -5px 0px 0px gray;
    transform: rotateY(-45deg);
}

.screenAux::after,
.keyboard::after,
.screen {
    content: '';
    transform-style: preserve-3d;
    position: absolute;
    margin: auto;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--color-keyboard);
    transform: rotateX(65deg);
}

.screenAux::after {
    /* keyboard */
    width: 600px;
    height: 250px;
    margin-top: 110px;
    margin-left: 135px;
    box-shadow: 5px 14px 0px 12px var(--color-3dEffect);
}

.keyboard::after {
    /* keyboard keys */
    width: 420px;
    height: 170px;
    background-image: var(--color-keyboard-keys);
    transform: rotateX(65deg);
    margin-top: 150px;
    margin-left: 280px;
    /* box-shadow: 2px 5px 0px 2px gray; */

}

.screen {
    width: 600px;
    height: 300px;
    background-image: var(--color-screen);
    box-shadow: 10px -5px 0px 0px var(--color-3dEffect);
    transform: rotateY(-45deg);
}

.screen::before {
    content: '';
    position: absolute;
    margin-left: 205px;
    margin-top: 75px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: var(--size-moon);
    background-color: transparent;
    animation: reflex infinite normal 6s;
}

#notebookImg {
    max-width: 40vw;
    animation: move infinite alternate ease-in-out 1.75s;

}

@keyframes move {
    from {
        transform: rotateZ(1deg);
        margin-top: 35px;
    }

    to {
        transform: rotateZ(-1deg);
        margin-top: 10px;
    }
}

@keyframes reflex {
    0% {
        box-shadow: var(--size-moonX) var(--size-moonY) 0 0 rgb(53, 49, 49);
    }

    35% {

        box-shadow: var(--size-moonX) var(--size-moonY) 0 0 #ff6d19;
    }

    50% {
        box-shadow: var(--size-moonX) var(--size-moonY) 0 0 rgb(46, 12, 12);
    }

    75% {
        box-shadow: var(--size-moonX) var(--size-moonY) 0 0 rgb(130, 35, 255);
    }

    100% {
        box-shadow: var(--size-moonX) var(--size-moonY) 0 0 rgb(53, 49, 49);
    }
}

@media (max-width:1300px) {
    :root {
        --size-Notebook: 0.70;
        --size-fontName: 50px;
        --size-fontOtherText: 35px;
    }

    #homeVerticalShadow {
        grid-template-columns: 3fr 2fr;
    }

    .Home--header--genre {
        display: none;
    }
}

@media (max-width: 1000px) {
    :root {
        --size-Notebook: 0.70;
        --size-fontName: 45px;
        --size-fontOtherText: 30px;
    }

    #name {
        padding-left: 20px;
    }
}

@media (max-width: 900px) {
    :root {
        --size-Notebook: 0.70;
        --size-fontName: 40px;
        --size-fontOtherText: 30px;
    }

    #name {
        padding-left: 35px;
    }
    #homeVerticalShadow {
        display:unset;
        /* display: flex; */
        text-align: center;
        justify-content: center;
    }
    #homeText{
        display: grid;
        padding-top: 90px;
        /* margin-top: 90px; */
        grid-template: 100px
        / 100px
        / 100px
        / 1fr 1fr ;
    }
    #homeNotebook {
        display: none;
         
    }
}