.whoIAm{
    margin-top: 90px;
    /* background-color: aquamarine; */
}
.textBox{
    /* white-space: normal; */
    margin-left: 15vw;
    font-size: 22px;
    width: 75vw;
}
.textBox div{
    padding: 10px 0px;
}
#downloadCV{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;  
    border-radius: 15px;
    padding: 10px 25px;
    color: aliceblue;
    background-color: transparent;
    border: rgb(54, 18, 24) solid 2px;
    background-color: rgba(77, 72, 72, 0.3);
    font-size: 24px;
    font-weight: 500;
    animation: borderPulse infinite alternate ease-in 2s;
}
#downloadCV:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: rgba(77, 72, 72, 0.45);
}