.whoIAm{
    margin-top: 90px;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    padding:0px 10vw;
    
}
.whoIAm h1{
    font-size: 32px;
    margin-bottom: 50px;

}
.textBox{
    font-size: 22px;
    width: 80vw;
    text-align: justify;
}

#me{
    border-radius: 3px;
    border: 2px solid;
    position: relative;
    /* border-radius: 50%; */
    left: -20px;
    shape-outside: content-box;
    float: left;
    max-width: 200px;
    transition: all ease 0.5s;
    opacity: 0.92;
}

#me:hover{
    opacity: 1;
}

#downloadCV{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;  
    border-radius: 15px;
    padding: 10px 25px;
    color: aliceblue;
    background-color: transparent;
    border: rgb(54, 18, 24) solid 2px;
    background-color: rgba(77, 72, 72, 0.3);
    font-size: 24px;
    font-weight: 500;
    animation: borderPulse infinite alternate ease-in 2s;
}
#downloadCV:hover {
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: rgba(77, 72, 72, 0.45);
}

@media (max-width: 900px) {
    :root {

    }
    .textBox{
        font-size: 18px;
        width: 90vw;
    }
    .whoIAm{
        padding:0 5vw;     
    }
    #me{

        left: -3vw;
    }
}